{% extends 'base.html.twig' %}

{% block title %}Dashboard - BitChest{% endblock %}

{% block body %}
<div id="root"
    data-username="{{ user.firstName ~ ' ' ~ user.lastName }}"
    data-logout-url="{{ path('app_logout') }}"
    data-profile-url="{{ path('profile_edit') }}"
></div>
{% endblock %}
